html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: black;
}

ul {
  float: right;
  margin: 0;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
}

.health {
  float: left;
  width: 50px;
  height: 30px;
  border: 3px solid black;
  background-color: red;
}

#reload {
  margin: 0 auto;
  display: block;
  width: 260px;
  height: 140px;
  border: 3px solid black;
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQVlOcHXjosPpDDFCAcsDeFX_jqp5kaoFV8SDk_80Zcqef894fb');
  background-size: cover;
  position: sticky;
}
button {
  margin-top: 34px;
  width: 84px;
  height: 84px;
  border-radius: 5px;
  background-color: #ad1010;
  font-family: 'black ops one';
  font-size: 16px;
}

.target {
  background-color: red;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  height: 80px;
  width: 80px;
}

.ammo {
  height: 40px;
  width: 40px;
  display:inline-block;
  float: right;
  background-color: blue;
}

#ammoBox {
  display: inline-block;
  float: right;
}

.gameOver {
  width: 600px;
  height: 400px;
}

.controls {
  overflow: hidden;
  background-image: url('http://i39.tinypic.com/2s7gl89.jpg');
  background-size: cover;
  text-align: center;
}

#range {
  margin-top: 0px;
  height: 550px;
  width: 100%;
  background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
}

/* Enemy CSS */

/*topleft*/
.enemy {
  width: 0px;
  height:0px;
  background-image: url('https://pbs.twimg.com/profile_images/3627005607/2aae0e25c02fe03e8b22437d69d6802c.png');
  background-size: cover;
  position:absolute;
}

#enemyOne {
  top:0px;
  left:0px;
}

/*top*/
#enemyTwo {
  top:0px;
  left:50%;
}

/*topright*/
#enemyThree {
  top:0px;
  left:100%;
}

#enemyFour {
  top:400px;
  left:0px;
}

#enemyFive {
  top:400px;
  left:525px;
}

#enemySix {
  top:400px;
  left:100%;
}

#healthOne {
  width: 100px;
  height: 100px;
  position: absolute;
  top:350px;
  left:0px;
  background-image: url('http://cliparts.co/cliparts/Lcd/jRd/LcdjRdEni.png');
  background-size: cover;
}

#healthTwo {
  width: 100px;
  height: 100px;
  position: absolute;
  top:250px;
  left:100%;
  background-image: url('http://cliparts.co/cliparts/Lcd/jRd/LcdjRdEni.png');
  background-size: cover;
}

#healthThree {
  width: 100px;
  height: 100px;
  position: absolute;
  top:150px;
  left:0px;
  background-image: url('http://cliparts.co/cliparts/Lcd/jRd/LcdjRdEni.png');
  background-size: cover;
}

/*Scoring*/

#score {
  margin: 0 auto;
  height: 50px;
  width: 60px;
  background-color: blue;
}

.finalScore {
  margin: 0 auto;
  display: inline-block;
  width: 260px;
  height: 140px;
  border: 3px solid black;
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQVlOcHXjosPpDDFCAcsDeFX_jqp5kaoFV8SDk_80Zcqef894fb');
  background-size: cover;
}

.explosion {
  background-image: url('http://xbox.create.msdn.com/assets/cms/images/Education/BeginnerGuide4/explosion_animated_opt.gif');
  width: 150px;
  height: 150px;
  position: absolute;
  background-size: cover;
}
