body {
  margin: 0 auto;
  width: 1100px;
}

ul {
  margin: 0;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  height: 80px;
  width: 80px;
}

.health {
  float: left;
  width: 50px;
  height: 30px;
  border: 3px solid black;
}

#reload {
  margin: auto;
  width: 200px;
  height: 80px;
  border: 3px solid black;
  float: left;
  margin-left: 40px;
}

.target {
  background-color: red;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  height: 80px;
  width: 80px;
}


.ammo {
  float: right;
  height: 40px;
  width: 40px;
  display:inline-block;
  text-align: right;
}

#ammoBox {
  display: inline-block;
  float: right;
}

.gameOver {
  width: 600px;
  height: 400px;
}

#enemyOne {
  width: 60px;
  height: 40px;
  background-color: red;
  position: absolute;
  top:100px;
  left:100%;
}

#enemyTwo {
  width: 60px;
  height: 40px;
  background-color: red;
  position: absolute;
  top:700px;
  left:0px;
}

#enemyThree {
  width: 60px;
  height: 40px;
  background-color: red;
  position: absolute;
  top:400px;
  left:100%;
}
