body {
  margin: 0 auto;
  width: 900px;
}

ul {
  margin: 0;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  height: 50px;
  width: 50px;
}
